.App {
  text-align: center;
}

.brand {
  color: gray !important;
  text-decoration: none !important;
}

.newEntry {
  background-color: #FF8C00;
  color:white !important;
  border-radius: 30px;
  padding: 7px 10px !important;
}

.readMore {
  color: white;
  cursor: pointer;
  font-size: 13px;
  margin-left: 5px;
  background-color: black;
}

.readMore:hover {
  color: white;
}

.pagination {
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

/* Entry */

.Entry {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.textarea {
  height: 200px;
}

Label {
  margin-top: 10px;
  font-weight: bold;
}

.addBtn {
  background-color: #FF8C00 !important;
  border: 1px solid #FF8C00 !important;
}

.addText {
  background-color: #CEE4A7;
  padding: 5px;
}
/* Post Detail */

.detailTitle {
  font-size: 55px;
}
