.App {
  text-align: center;
}

.readMore {
  color: white;
  cursor: pointer;
  font-size:13px;
  margin-left:5px;
  background-color: black;
  padding:5px;
}

.readMore:hover {
  color: white;
}
/* Entry */

.Entry {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.textarea {
  height: 200px;
}

Label {
  margin-top: 10px;
  font-weight: bold;
}

/* Post Detail */

.detailTitle {
  font-size: 55px;
}
