.App {
  text-align: center;
}

  /* Entry */

  .Entry {
    width:100%;
    display:flex;
    justify-content:center;
  }

  form {
    display:flex;
    flex-direction: column;
    margin-top:40px;
  }

  .textarea {
    height:200px;
  }

  Label {
    margin-top:10px;
    font-weight: bold;
  }

